div.css-5rimss.e1nzilvr4 {
    background-color: #f8f9fb;
    color: #100530;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
    text-align: justify;
}

p{
    font-size: 14pt;
    color: #ff0000;  
    
}